 
<div class="container mt-3" style="width: 60%">
    <div class="card">
      <div class="card-body text-center">
        <h1> Login Form </h1>
        <!--  -->
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLogin">
          <div>
            <mat-form-field class="field" appearance="outline">
              <mat-label>Enter Password</mat-label>
              <input
                matInput
                TYPE="password"
                placeholder="Password"
                name="password"
                ngModel
                #orderId="ngModel"
                required
              />
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit">Submit</button>
          <!--<button mat-raised-button color="warn" type="re
          set">Reset</button> -->
        </form>

        

            <p>You can start by pressing below button.</p>
            <button mat-raised-button color="primary" routerLink="/changeStatus" style="width:100px; margin: auto;">Start</button>
      </div>
    </div>
</div>

