

/* .search-icon {
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: 0px;
} */

.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }
  